* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

/************BOSHLANDI****KOD***YOZISH*********************/

.header {
    width: 100%;
    background: #fff;
    text-decoration: none;
    list-style: none;
}

.q-block {
    width: 100%;
    background: url(../img/free-home-header-banner.jpg)no-repeat center center / cover;
    background-attachment: fixed;
    height: 100vh;
}

.n-block {
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgba(0, 0, 0, 0.282);
    position: fixed;
}

.n-block-link {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 19px;
    color: black;
    font-weight: 600;
    padding: 0px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.W-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.w-block-text {
    cursor: pointer;
    color: rgb(0, 255, 208);
    font-size: 32px;
    margin-top: 250px;
    margin-left: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgba(0, 0, 0, 0.433);
}

.w-block-title {
    background: rgba(0, 0, 0, 0.35);
    cursor: pointer;
    color: rgb(255, 217, 0);
    margin-left: 150px;
    font-size: 25px;
    font-weight: 400;
}
.w-block-link{
    color: black;
    margin-left: 150px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}